$color-pink: #f52ab5;

.add-stock-button
  margin: 5px;

  button
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 1000;

    i
      color: $color-pink;
      font-size: 48px;

.add-stock-form
  display: flex;
  flex-direction: row;

  > *
    width: 50%;
    margin: 0 auto;
