/** Colors **/
$color-green: #b5f52a;
$color-blue: #2ab5f5;
$color-pink: #f52ab5;

.stock-container
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 90%;


.mat-table
  background: #e2e1e0;
  overflow: auto;
  display: block;
  max-height: 500px;


.mat-row
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 70px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

.mat-row:hover
  background: #fafafa;

.mat-header-row
  min-height: 50px;

.mat-row,
.mat-header-row
  display: flex;
  align-items: center;
  padding: 0 24px;

.mat-header-cell
  font-size: 15px;

.mat-cell,
.mat-header-cell
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;

.mat-raised-button
  background: #FF0000;
